/***** IMPORTANT NOTE *****/

/* 
I write:
@media only screen and (max-width: rem) {
} 

instead of:
@media (max-width: rem) {
} 

because it prevents older browsers that don't know about media queries from just using this style all the time*/

/* 

/**************************/
/* BELOW  960px (Tablets) */
/**************************/
@media only screen and (max-width: 62rem) {
  /* Variables, General style, and Reusable Classes*/
  :root {
    --h1-size: 2rem;
    --h2-size: 1.75rem;
    --testimonial-size: 1.25rem;
    --primary-btn-size: 0.75rem;
    --secondary-btn-size: 0.75rem;
  }

  body {
    margin: 0 var(--spacing-lg);
  }

  h2 {
    text-align: center;
  }

  .grid-2-cols,
  .grid-3-cols {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    width: 85%;
  }

  .hero,
  .features,
  .testimonial,
  .bestseller {
    margin-bottom: var(--spacing-xl);
  }

  .hero,
  .testimonial,
  .features,
  .bestseller,
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Navigation */
  .navbar {
    flex-direction: column;
    gap: var(--spacing-sm);
  }

  /* Hero Section */
  .main-nav li a:link,
  .main-nav li a:visited {
    margin: 0 var(--spacing-sm);
  }

  .hero-text-box {
    text-align: center;
  }

  .flex-container {
    justify-content: center;
  }

  /* Testimonial */
  .testimonial-box {
    grid-column: 1;
  }

  .testimonial .grid-3-cols {
    width: 100%;
  }

  .testimonial {
    width: 85%;
  }

  /* Bestsellers */

  .bestseller-heading a {
    display: none;
  }

  .bestseller {
    text-align: start;
  }

  .chair-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chair-price span {
    margin-right: var(--spacing-lg);
  }

  /* object-fit: cover; - img will automatically get cut */

  .mobile:link,
  .mobile:visited {
    display: flex;
  }

  /* Footer */
  .developer-info {
    grid-column: 1;
  }

  footer p:not(:first-child) {
    margin-bottom: 0;
  }
}

/**************************/
/* BELOW  460px (Phones) */
/**************************/

@media only screen and (max-width: 28.75rem) {
  /* Variables, General Style, and Reusable Classes*/
  body {
    margin: 0 var(--spacing-sm);
  }

  .grid-2-cols,
  .grid-3-cols {
    width: 100%;
  }

  /* Navigation */

  .main-nav li a:link,
  .main-nav li a:visited {
    margin: 0 var(--spacing-xs);
  }

  /* Hero Section */
  .hero img {
    width: 95%;
    max-width: 100%;
  }

  /* Testimonial */

  .testimonial {
    width: 100%;
  }

  /* Bestsellers */

  .chair-price span {
    margin-right: var(--spacing-md);
  }

  .chair-price span {
    margin-right: var(--spacing-sm);
  }

  .bestseller {
    width: 90%;
  }
}
