:root {
  /* FONT, HEADING, PARAGRAPH AND LINK SIZES */
  --body-font: "Inter", sans-serif;
  --h1-size: 2.5rem;
  --h1-weight: 700;
  --h2-size: 2rem;
  --h2-weight: 700;
  --h3-size: 1.25rem;
  --h3-weight: 600;
  --testimonial-size: 1.5rem;
  --testimonial-weight: 700;
  --price-size: 1.25rem;
  --price-weight: 600;

  --p-size: 1rem;
  --primary-nav-size: 1rem;
  --footer-size: 0.75rem;
  --card-price-size: 1.25rem;
  --card-price-weight: 600;

  --line-height-sm: 1.1;
  --line-height-lg: 1.7;
  --letter-spacing-sm: -0.03125rem;
  --letter-spacing-md: -0.0625rem;

  /* COLORS */
  --text-dark: #343a40;
  --text-light: #fff;
  --dark-grey: #444444;
  --light-grey: #d9d9d9;
  --primary-accent: #087f5b;
  --testimonial-text-color: #e6fcf5;
  --author-text-color: #c3fae8;
  --primary-button-hover: #099268;
  --icon-color: #087f5b;
  --icon-hover-color: #099268;

  /* BUTTONS */
  --button-font-weight: 500;
  --primary-btn-size: 1rem;
  --secondary-btn-size: 1rem;
  --card-btn-size: 0.875rem;
  --footer-btn-size: 0.75rem;

  /* ICONS */
  --nav-icon-size: 1.5rem;
  --features-icon-size: 2rem;

  /* SPACING */
  --standard-width: 60rem;
  /* 16, 20, 32, 48, 64, 96*/
  --spacing-xs: 1rem;
  --spacing-sm: 1.25rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 4rem;
  --section-spacing: 6rem;
  --testimonial-padding: 1.5rem;

  /* BORDER RADIUS */
  --border-radius-sm: 1rem;
  --border-radius-bg: 6.25rem;

  /* SHADOWS */
  --card-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.07);
}

/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--text-dark);
  margin: 0 var(--spacing-xs);
}

h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--line-height-sm);
  letter-spacing: var(--letter-spacing-md);
  margin-bottom: var(--spacing-md);
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  letter-spacing: var(--letter-spacing-sm);
  margin-bottom: var(--spacing-lg);
}

h3 {
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: var(--line-height-lg);
  margin-bottom: var(--spacing-sm);
}

p {
  font-size: var(--p-size);
  line-height: var(--line-height-lg);
  font-weight: 400;
}

footer {
  font-size: var(--footer-size);
  color: var(--dark-grey);
}

/* REUSABLE CLASSES */

.container {
  max-width: var(--standard-width);
  margin: 0 auto;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-item {
  flex: 0 0 auto;
}

.line {
  border-bottom: solid 0.0625rem var(--light-grey);
}

.primary-button:link,
.primary-button:visited {
  font-size: var(--primary-btn-size);
  font-weight: var(--button-font-weight);
  text-decoration: none;
  padding: var(--spacing-xs) var(--spacing-md);
  background-color: var(--primary-accent);
  border-radius: var(--border-radius-bg);
  text-transform: uppercase;
  color: var(--text-light);
  transition: all 0.15s ease;
}

.primary-button:hover,
.primary-button:active {
  background-color: var(--primary-button-hover);
}

.secondary-button:link,
.secondary-button:visited {
  font-size: var(--secondary-btn-size);
  font-weight: var(--button-font-weight);
  color: var(--body-font);
  text-decoration: none;
  margin: 0 var(--spacing-md);
  transition: all 0.15s ease;
}

.secondary-button:hover,
.secondary-button:active {
  opacity: 0.8;
}

.with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-icon > img {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.25s ease;
}

.with-icon:hover > img {
  transform: translateX(0.25rem);
  opacity: 0.8;
}

/* COMPONENT STYLES */

.hero,
.features,
.testimonial {
  margin-bottom: var(--section-spacing);
}

/* Navigation */
header {
  margin: 2rem auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: var(--text-dark);
  margin: 0 var(--spacing-md);
  font-weight: 500;
  text-decoration: none;
}

.main-nav li a:hover,
.main-nav li a:active {
  opacity: 0.8;
}

.main-nav-icon {
  font-size: var(--nav-icon-size);
  color: var(--icon-color);
}

.main-nav-icon:not(:last-child) {
  margin-right: 1rem;
}

.main-nav-icon:hover {
  color: var(--icon-hover-color);
  cursor: pointer;
}

/* Hero section */
.hero-text-box {
  align-self: center;
}

.hero-text-box p {
  margin-bottom: var(--spacing-md);
}

.hero img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.hero {
  margin-top: var(--spacing-lg);
}

/* Features section */

.features-icon {
  font-size: var(--features-icon-size);
  margin-bottom: var(--spacing-sm);
  color: var(--icon-color);
}

/* Testimonial section */

.testimonial img {
  width: 100%;
  border-radius: var(--border-radius-sm);
}

.testimonial {
  background-color: var(--primary-accent);
  color: var(--text-light);
  padding: var(--testimonial-padding);
  border-radius: var(--border-radius-sm);
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h3 {
  font-size: var(--testimonial-size);
  font-weight: var(--testimonial-weight);
}

.testimonial-text {
  color: var(--testimonial-text-color);
  font-style: italic;
  margin-bottom: var(--spacing-sm);
}

.testimonial-author {
  color: var(--testimonial-text-color);
}

/* Bestseller section */

/* Footer section */
