/* COMPONENT STYLES */

.hero,
.features,
.bestseller {
  margin-bottom: var(--section-spacing);
}

/* Navigation */
header {
  margin: 2rem auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar img {
  height: var(--logo-height);
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: var(--text-dark);
  margin: 0 var(--spacing-md);
  font-weight: 500;
  text-decoration: none;
}

.main-nav li a:hover,
.main-nav li a:active {
  opacity: 0.8;
}

.main-nav-icon {
  font-size: var(--nav-icon-size);
  color: var(--icon-color);
}

.main-nav-icon:not(:last-child) {
  margin-right: var(--spacing-xs);
}

.main-nav-icon:hover {
  color: var(--icon-hover-color);
  cursor: pointer;
}

/* Hero section */
.hero-text-box {
  align-self: center;
}

.hero-text-box p {
  margin-bottom: var(--spacing-md);
}

.hero img {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.hero {
  margin-top: var(--spacing-lg);
}

/* Features section */

.features-icon {
  font-size: var(--features-icon-size);
  margin-bottom: var(--spacing-sm);
  color: var(--icon-color);
}

/* Testimonial section */

.testimonial img {
  width: 100%;
  border-radius: var(--border-radius-sm);
}

.testimonial-wrapper {
  background-color: var(--primary-accent);
  color: var(--text-light);
  padding: var(--testimonial-padding);
  border-radius: var(--border-radius-sm);
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h3 {
  font-size: var(--testimonial-size);
  font-weight: var(--testimonial-weight);
}

.testimonial-text {
  color: var(--testimonial-text-color);
  font-style: italic;
  margin-bottom: var(--spacing-sm);
}

.testimonial-author {
  color: var(--testimonial-text-color);
}

.testimonial {
  position: relative;
  margin-bottom: calc(var(--section-spacing) + 2rem);
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 2rem);
  display: flex;
  gap: 0.75rem;
}

.dot {
  height: 0.75rem;
  width: 0.75rem;
  background-color: #fff;
  border: 0.125rem solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: var(--primary-accent);
}

/* Bestseller section */
.chair img {
  width: 100%;
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
}

.chair {
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius-sm);
}

.chair-box {
  padding: var(--spacing-md);
}

.chair-details {
  list-style: none;
  margin-bottom: var(--spacing-lg);
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
}

.main-nav-icon:not(:last-child) {
  margin-bottom: var(--spacing-xs);
}

.card-icon {
  font-size: var(--card-icon-size);
  color: var(--icon-color);
}

.chair-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chair-price span {
  font-size: var(--card-price-size);
  font-weight: var(--card-price-weight);
}

.card-button:link,
.card-button:visited {
  font-size: var(--card-btn-size);
  font-weight: var(--button-font-weight);
  text-decoration: none;
  padding: var(--card-padding);
  background-color: var(--primary-accent);
  border-radius: var(--border-radius-bg);
  text-transform: uppercase;
  color: var(--text-light);
  transition: all 0.15s ease;
}

.card-button:hover,
.card-button:active {
  background-color: var(--primary-button-hover);
}

.bestseller-heading {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.bestseller-heading .secondary-button:link,
.bestseller-heading .secondary-button:visited {
  margin: 0.5rem var(--spacing-sm);
}

.mobile:link,
.mobile:visited {
  font-size: 1rem;
  margin-top: var(--spacing-lg);
  display: none;
}

/* Footer section */

footer img {
  height: var(--logo-height);
}

footer p {
  font-size: var(--footer-size);
  margin-bottom: var(--spacing-sm);
}

.footer {
  margin: var(--spacing-md) 0;
  color: var(--dark-grey);
}

.footer-icon {
  font-size: var(--card-icon-size);
  color: var(--icon-color);
  margin: var(--spacing-sm) 0;
}

.footer-icon:not(:last-child) {
  margin-right: var(--spacing-xs);
}

.developer-info {
  grid-column: 2 / -1;
}

.footer-button:link,
.footer-button:visited {
  font-size: var(--footer-btn-size);
  font-weight: var(--button-font-weight);
  color: var(--body-font);
  text-decoration: none;
  transition: all 0.15s ease;
}

.footer-button:hover,
.footer-button:active {
  color: #087f5b;
}

.footer-button:link:not(:last-child),
.footer-button:visited:not(:last-child) {
  margin: 0 var(--spacing-xs) 0 0;
}
